.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.extra-label{
    margin-bottom: 0;
    margin-top: 10px;
}

.return_msg{
}

a{
    color: #2fff00;
    text-decoration: underline;
}

.flashes{
    margin-top: 10px;
    padding-top: 20px;
    font-size: 48px;
    padding-bottom: 20px;
    animation: flash 5s linear;
}

.inset{
    padding-left: 40px;
    padding-bottom: 10px;
}

.hide_{
    display: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn{
    margin-top: 20px;
}

table{
    width: 100%;
}

.right{
    text-align: right;
}

.container{
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.foot{
    text-align: center;
    color: #001c0e;
    padding: 20px;
}

body {
    background-color: #001c0e;
    color: #2fff00;
    font-family: Monospace;
}

@keyframes flash {
    0% { box-shadow: 0 0 4px 10px #7d7d7d;
        background-color: #7d7d7d;
    }
    100% { box-shadow: 0 0 4px 10px #000000;
        background-color: black;
    }
}
