.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.extra-label{
    margin-bottom: 0;
    margin-top: 10px;
}

.return_msg{
    font-size: 40px;
    animation: flash 5s linear;
}

.flashes{
    padding-top: 50px;
    font-size: 72px;
    padding-bottom: 50px;
}

.inset{
    padding-left: 40px;
    padding-bottom: 10px;
}

.hide_{
    display: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn{
    margin-top: 20px;
}

table{
    width: 100%;
}

.container{
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    background-color: #351637;
    color: white;
    font-family: Monospace;
}

@keyframes flash {
    0% { background-color: rgba(236, 234, 255, 0.63)
    }
    100% { background-color: rgba(0, 142, 245, 0)
    }
}

.follow {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}