{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
<div class="container">

    <div class="return_msg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </div>

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <form action="{{ appurl + '/admin' }}" method="post">
    <p>
    Premium url passu
    <input type="text" name="adminpass" value="{{ admin }}"/>
    </p>

    <table>
        <thead>
        <tr>
            <td>
                short
            </td>
            <td>
                url
            </td>
            <td>
                expiration
            </td>
            <td>
                perma
            </td>
            <td>
                +31days
            </td>
            <td>
                delete
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
            <td>
                {{ entry.short }}
            </td>
            <td>
                {{ entry.url }}
            </td>
            <td>
                {{ entry.expiration }}
            </td>
            <td>
                 <input class="acceptbutton" type="radio" name="{{ entry.id }}" value="perma">
            </td>
            <td>
                 <input class="acceptbutton" type="radio" name="{{ entry.id }}" value="prolong">
            </td>
            <td>
                 <input class="acceptbutton" type="radio" name="{{ entry.id }}" value="delete">
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input style="float: right;" type="submit" value="SUBMIT"/>
    </form>
</div>
{% endblock %}
