{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <h2>Osallistujat</h2>
    <table>
        <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Nimi
            </td>
            <td>
                SäPo
            </td>
            <td>
                vuosi
            </td>
            <td>
                aktiivi
            </td>
            <td>
                holiton
            </td>
            <td>
                puhe
            </td>
            <td>
                aihe
            </td>
            <td>
                muuta
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
            <td>{{ loop.index }}.
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.year }}
            </td>
            <td>
                {{ entry.active }}
            </td>
            <td>
                {{ entry.nonalcoholic }}
            </td>
            <td>
                {{ entry.speechbox }}
            </td>
            <td>
                {{ entry.speech }}
            </td>
            <td>
                {{ entry.other }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
