<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ appurl }}/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ appurl }}/static/script.js"></script>
</head>
<body>

    <img id="follow1" class="follow"
         src="{{ appurl }}/static/img/meme1.gif">
    <img id="follow2" class="follow followA"
         src="{{ appurl }}/static/img/meme2.gif">
    <img id="follow3" class="follow followA"
         src="{{ appurl }}/static/img/meme3.gif">

    <img id="follow4" class="follow followA"
         src="{{ appurl }}/static/img/meme4.gif">

    <img id="follow5" class="follow followA"
         src="{{ appurl }}/static/img/meme5.gif">
    <img id="follow6" class="follow followB"
         src="{{ appurl }}/static/img/meme5.gif">
    <img id="follow7" class="follow followB"
         src="{{ appurl }}/static/img/meme4.gif">
    <img id="follow8" class="follow followB"
         src="{{ appurl }}/static/img/meme3.gif">
    <img id="follow9" class="follow followB"
         src="{{ appurl }}/static/img/meme2.gif">
{% block content %}{% endblock %}
</body>
</html>