{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <p>
        Se olisi taas se aika vuodesta kun OTiT ja SIK suuntaavat yhdessä katselemaan maailma menoa. Tänä vuonna
        suuntaamme otaniemeen jossa OTiT puuhailee TiTeenien parissa ja SIK puuhailee sisarkiltansa kanssa. Mutta ei
        reissu pelkkää hupailua ole, sillä teemme toki yritysvierailun firmaan X.
    </p>
    <p>
        Excu starttaa 15.3 klo 07:00 yliopistolta ja kustantaa osallistujilta tasaiset 30 euroa. Takaisin olemme oulussa
        joskus sunnuntaina.
    </p>
    <p>
        Ilmo aukeaa 18.2.2019 klo 13:37 ja sulkeutuu 8.3.2019 klo 23.59
    </p>
    {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.name) }}
            <label class="extra-label">Kilta*</label>
            {{ wtf.form_field(form.guild) }}
            {% for e in form.guild.errors %}
                <p class="text-danger">{{ e }}</p>
            {% endfor %}
            {{ wtf.form_field(form.mail) }}
            {{ wtf.form_field(form.phone) }}
            {{ wtf.form_field(form.place) }}
            {{ wtf.form_field(form.consent) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    {% elif nowtime < starttime %}
        <p>Ilmoittautuminen ei ole vielä alkanut</p>
    {% else %}
        <p>Ilmoittautuminen on päättynyt</p>
    {% endif %}
    <p>
        Tietosuojasuojaselosteen voit lukea täältä: <a href="https://www.otit.fi/kmp/static/KMPTietosuoja.pdf">Tietosuojaseloste</a>
    </p>
    <h2>Osallistujat</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3>OTiT: {{ o_count }}/{{ limit }}</h3>
            {% for entry in o_entries %}
                <p>{{ loop.index }}. {{ entry["name"][:30] }}
                    {% if loop.index > limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <h3>SIK: {{ s_count }}/{{ limit }}</h3>
            {% for entry in s_entries %}
                <p>{{ loop.index }}. {{ entry["name"][:30] }}
                    {% if loop.index > limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
