{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
    {% if starttime < nowtime < endtime %}
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.representative) }}
        {{ wtf.form_field(form.greeting) }}
        {{ wtf.form_field(form.food) }}
        {{ wtf.form_field(form.alcohol) }}
        {% for e in form.alcohol.errors %}
            <p class="text-danger">{{ e }}</p>
        {% endfor %}
        {{ wtf.form_field(form.gambina) }}
        {{ wtf.form_field(form.avec) }}
        {{ wtf.form_field(form.free) }}
        {{ wtf.form_field(form.submit) }}
    </form>
    {% elif nowtime < starttime %}
        <p>Ilmoittautuminen aukeaa {{ starttime }}</p>
    {% else %}
        <p>Ilmoittautuminen on päättynyt</p>
    {% endif %}

    <h3>Ilmoittautuneet: {{ count }}/{{ limit }}</h3>
    {% for partisipant in partisipants  %}
        <p>{{ partisipant.name[:30] }} - {{ partisipant.representative[:50] }}
        {% if loop.index > limit %}
             (varasijalla)
        {% endif %}
        </p>
    {% endfor %}
    </div>
{% endblock %}
